.container{
    margin: 0;
    padding: 0;
    /* overflow: auto; */
}

.flex{
	display: flex;
	flex-wrap: wrap;
}
.flexcol{
	display: flex;
	flex-direction: column;
}

.flex_nowrap{
	display: flex;
	flex-wrap: nowrap;
}

.jc{
	justify-content: space-between;
}

.bb{
	border-bottom: 1px solid black;
}

.ma{
	margin: 0 auto;
}

.w100{
	width: 100%;
}

.w90{
	width: 90%;
}

.w80{
	width: 80%;
}

.w70{
	width: 70%;
}

.w65{
	width: 65%;
}

.w60{
	width: 60%;
}

.w50{
	width: 50%;
}

.w40{
	width: 40%;
}

.w45{
	width: 45%;
}

.w30{
	width: 30%;
}

.w25{
	width: 25%;
}

.w20{
	width: 20%;
}

.w10{
	width: 10%;
}

.w5{
	width: 5%;
}

.red{
	height: 50px;
	background-color: red;
}
.redd{
	height: 345px;
	background-color: rgb(255, 0, 0, 0.5);
}