.whiskey{
    background: url(../img/whisky.jpeg);
    height: 100vh;
    width: 100vw;
    position: fixed;
    z-index: -99;
    background-size: cover;
    background-position-x: 75% ;
    background-color: rgba(0, 0, 0, 0.5);
    background-blend-mode: multiply;
    background-repeat: no-repeat;
    right: 0px;
    padding-top: 10rem;
    overflow: auto;
}

.brandy{
    background: url(../img/brandy.jpeg);
    height: 100vh;
    width: 100vw;
    position: fixed;
    z-index: -99;
    background-size: cover;
    background-position-x: 86% ;
    background-color: rgba(0, 0, 0, 0.5);
    background-blend-mode: multiply;
    background-repeat: no-repeat;
    right: 0px;
    padding-top: 10rem;
    overflow: auto;
}

.ginvodka{
    background: url(../img/vodka.jpeg);
    height: 100vh;
    width: 100vw;
    position: fixed;
    z-index: -99;
    background-size: cover;
    background-position-x: 5% ;
    background-color: rgba(0, 0, 0, 0.5);
    background-blend-mode: multiply;
    background-repeat: no-repeat;
    right: 0px;
    padding-top: 10rem;
    overflow: auto;
}

.rumteq{
    background: url(../img/rum.jpeg);
    height: 100vh;
    width: 100vw;
    position: fixed;
    z-index: -99;
    background-size: cover;
    background-position-x: 90% ;
    background-color: rgba(0, 0, 0, 0.5);
    background-blend-mode: multiply;
    background-repeat: no-repeat;
    right: 0px;
    padding-top: 10rem;
    overflow: auto;
}

.beerliquer{
    background: url(../img/beer.jpeg);
    height: 100vh;
    width: 100vw;
    position: fixed;
    z-index: -99;
    background-size: cover;
    background-position-x: 90% ;
    background-color: rgba(0, 0, 0, 0.5);
    background-blend-mode: multiply;
    background-repeat: no-repeat;
    right: 0px;
    padding-top: 10rem;
    overflow: auto;
}

.sake{
    background: url(../img/sake.jpeg);
    height: 100vh;
    width: 100vw;
    position: fixed;
    z-index: -99;
    background-size: cover;
    background-position-x: 5% ;
    background-color: rgba(0, 0, 0, 0.5);
    background-blend-mode: multiply;
    background-repeat: no-repeat;
    right: 0px;
    padding-top: 10rem;
    overflow: auto;
}

.cocktail{
    background: url(../img/cocktail.jpeg);
    height: 100vh;
    width: 100vw;
    position: fixed;
    z-index: -99;
    background-size: cover;
    background-position-x: 90% ;
    background-color: rgba(0, 0, 0, 0.5);
    background-blend-mode: multiply;
    background-repeat: no-repeat;
    right: 0px;
    padding-top: 10rem;
    overflow: auto;
}

.softdrink{
    background: url(../img/softdrink.jpeg);
    height: 100vh;
    width: 100vw;
    position: fixed;
    z-index: -99;
    background-size: cover;
    background-position-x: 35% ;
    background-color: rgba(0, 0, 0, 0.5);
    background-blend-mode: multiply;
    background-repeat: no-repeat;
    right: 0px;
    padding-top: 10rem;
    overflow: auto;
}
@media (min-width: 768px) {
    .softdrink{
        background-size: cover;
    }
}

.coffee{
    background: url(../img/coffee_smol.jpg);
    height: 100vh;
    width: 100vw;
    position: fixed;
    margin-top: -10px;
    z-index: -99;
    background-size: cover;
    background-position-x: 85% ;
    background-position-y: 8rem;
    background-color: rgba(0, 0, 0, 0.5);
    background-blend-mode: multiply;
    background-repeat: no-repeat;
    right: 0px;
    padding-top: 10rem;
    overflow: auto;
}
@media (min-width: 768px) {
    .coffee{
        background: url(../img/coffee.jpg);
        background-size: cover;
        background-position-x: 90% ;
        background-color: rgba(0, 0, 0, 0.5);
        background-blend-mode: multiply;
        background-repeat: no-repeat;
        height: 100vh;
        width: 100vw;
        position: fixed;
        z-index: -99;
    }
}
.beansbg{
    background: url(../img/beansbg.jpg);
    height: 100vh;
    width: 100vw;
    margin-top: -10px;
    position: fixed;
    z-index: -99;
    background-size: cover;
    background-position-x: 85% ;
    background-position-y: 0rem;
    background-color: rgba(0, 0, 0, 0.5);
    background-blend-mode: multiply;
    background-repeat: no-repeat;
    right: 0px;
    padding-top: 10rem;
    overflow: auto;
}
@media (min-width: 768px) {
    .beansbg{
        background: url(../img/coffee.jpg);
        background-size: cover;
        background-position-x: 90% ;
        background-color: rgba(0, 0, 0, 0.5);
        background-blend-mode: multiply;
        background-repeat: no-repeat;
        height: 100vh;
        width: 100vw;
        position: fixed;
        z-index: -99;
    }
}