@import url(https://fonts.googleapis.com/earlyaccess/cwtexyen.css);
*{
    box-sizing: border-box;
    color: rgb(255, 228, 196);
    margin: 0;
    padding: 0;
    font-family: 'Behind Script', sans-serif;
}

.beans{
    position: relative;
    top: 4rem;
    left: 2rem;
    float: left;
    z-index: 9999;
}

.beans a img{
    width: 40px;
}

.speech-bubble {
    position: absolute;
    background: rgba(189, 120, 0 ,0.7);
    border-radius: 0.4em;
    top: 9rem;
    left: 2rem;
    z-index: 999;
    width: 7rem;
    padding: 1px;
    text-align: center;
    font-weight: 900;
    font-family: Arial, Helvetica, sans-serif8;
}

.speech-bubble:after {
	content: '';
	position: absolute;
	top: 0;
	left: 25%;
	width: 0;
	height: 0;
	border: 15px solid transparent;
	border-bottom-color: rgba(189, 120, 0 ,0.7);
	border-top: 0;
	margin-left: -15px;
	margin-top: -15px;
}

/* 切換開關 */
.box{
    position: relative;
    top: 5rem;
    right: 1rem;
    float: right;
    z-index: 9999;
}

.checkbox {
	opacity: 0;
	position: absolute;
}

.label {
	background-color: #111;
	border-radius: 50px;
	cursor: pointer;
	display: flex;
	align-items: center;
	justify-content: space-between;
	padding: 5px;
	position: relative;
	height: 26px;
	width: 50px;
	transform: scale(1.5);
}

.label .ball {
	background-color: #fff;
	border-radius: 50%;
	position: absolute;
	top: 2px;
	left: 2px;
	height: 22px;
	width: 22px;
	transform: translateX(0px);
	transition: transform 0.2s linear;
}

.checkbox:checked + .label .ball {
	transform: translateX(24px);
}

.flag{
    width: 40%;
}
/* 切換開關結束 */

.main_body{
    margin: 5px auto;
    width: 90vw;
    min-height: 300px;
    border-radius: 30px 30px 10px 10px;
    backdrop-filter: blur(3.5px);
    -webkit-backdrop-filter: blur(3.5px);
}
@media (min-width: 768px) {
    .main_body{
        width: 50%;
    }

}

.above,.under{
    font-size: 1.4rem;
    width: 100%;
}

.under{
    border-bottom: 1px solid rgba(66, 66, 66, 0.6);
}

.cn{
    font-family: "cwTeXYen", sans-serif;
    letter-spacing: auto;
}

.en,.title,.price{
    font-family: 'Behind Script', sans-serif;
}

.en{
    /* font-size: 1.8rem; */
}

.price{
    float: right;
}

.title{
    text-align: center;
}

.title h1{
    font-size: 3rem;
    color: rgb(206, 148, 97);
}

.line{
    margin: 0 auto;
    position: relative;
    width: 12.5rem;
    height: 12px;
    background-color: rgba(224, 216, 176, 0.4);
    z-index: -1;
    top: 45px;
}
.bigline{
    margin: 0 auto;
    position: relative;
    width: 24rem;
    height: 12px;
    background-color: rgba(224, 216, 176, 0.4);
    z-index: -1;
    top: 60px;
}
@media (max-width: 768px) {
    .bigline{
        display: none;
    }

}

.back{
    margin: 1.5rem auto;
}
.back a{
    text-decoration: none;
    color: rgb(206, 148, 97);
}

.bean_row{
    padding-left: 1rem;
    padding-right: 3rem;
}

.bean_body{
    padding-left: 0;
}

.bean_body li{
    line-height: 33px;
}

.bean_body .bean_intro{
    line-height: 25px;
}