@import url(https://fonts.googleapis.com/earlyaccess/cwtexyen.css);
*{
    box-sizing: border-box;
    color: bisque;
}
.img{
    margin: 0 15%;
    z-index: -99;
    position: absolute;
    width: 70vw;
    /* height: 100vh; */

}

.red{
    background: rgba(255, 0, 0, 0.5);
    height: 30px;
}
.col,.col-4{
    font-size: 1.5rem;
}
.cn{
    font-family: "cwTeXYen", sans-serif;
}
.en{
    font-family: 'Behind Script', sans-serif;
    /* letter-spacing: 0.5em; */
}
.price{
    font-family: 'Behind Script', sans-serif;
}