.box{
    position: relative;
    top: 5rem;
    width: 100vw;
    height: 100vh;
}
.liquortitle{
    display: flex;
    justify-content: space-around;
    align-items: center;
}
@media (min-width: 768px) {
    .liquortitle{
        justify-content: space-evenly;
        padding: 0 15rem;
    }
}
.liquortitle .active{
    color: rgb(234, 213, 73);
    font-size: 3.5rem;
}

.liquortitle span{
    color: #fff;
    font-family: 'Mufan', sans-serif;
    font-size: 2.5rem;     
    text-shadow: 1px 1px 2px black;
}
/* @import url(https://fonts.googleapis.com/earlyaccess/notosanstc.css);
.liquortitle span .chinese{
    font-family: 'Noto Sans TC', sans-serif;
} */

.blur{
    margin: 5px auto;
    width: 90vw;
    min-height: 300px;
    border-radius: 30px 30px 10px 10px;
    color: #faebd7;
    overflow: auto;
    backdrop-filter: blur(3.5px);
    -webkit-backdrop-filter: blur(3.5px);
}
@media (min-width: 768px) {
    .blur{
        width: 60vw;
    }
}

table *{
    padding: 0;
    margin: 0;
    overflow: hidden;
}

table tr{
    height: 50px;
}

table tr td{
    padding: 5px

}

table tr td:nth-child(2){
    text-align: center;
    height: 50px;
}
table tr td:nth-child(3){
    text-align: center;
    height: 50px;
}

table tr td pre{
    color: rgb(255, 255, 22);
    text-shadow: 3px 3px 5px black;
    font-size: 0.85rem;
    font-family: 'Eagle Lake', sans-serif;
}
@media (min-width: 768px) {
    table tr td pre{
        font-size: 2rem;
    }
}

table td.crossed{
   background-image: linear-gradient(to bottom right,  transparent calc(50% - 1px), rgb(179, 179, 179), transparent calc(50% + 1px)); 
   background-size: 11rem;
   background-repeat: no-repeat;
   background-position-y: -10px;
}

table td.crossed pre{
    font-family: 'Courier New', Courier, monospace;
}

.red{
    background:red ;
    height: 20px;
}
.blue{
    background: blue;
    height: 20px;
}