@font-face {
    font-family: 'Eagle Lake'; 
    src: url(../font/EagleLake-Regular.ttf)
}
@font-face {
    font-family: 'Mufan'; 
    src: url(../font/Mufanpfs-owKgx.otf)
}

.box{
    position: relative;
    top: 5rem;
    width: 100vw;
    height: 100vh;
}

.speech_bubble_liquor {
    position: absolute;
    background: rgba(20, 253, 145 ,0.8);
    border-radius: 0.4em;
    top: 4rem;
    left: 2rem;
    z-index: 999;
    width: 7rem;
    padding: 1px;
    text-align: center;
    font-weight: 900;
    font-family: Arial, Helvetica, sans-serif8;
}

.speech_bubble_liquor:after {
	content: '';
	position: absolute;
	bottom: 0;
	left: 25%;
	width: 0;
	height: 0;
	border: 15px solid transparent;
	border-top-color: rgba(20, 253, 145 ,0.8);
	border-bottom: 0;
	margin-left: -15px;
	margin-bottom: -15px;
}
@media (min-width: 768px) {
    .speech_bubble_liquor{
        left: 15rem;
    }
}

.liquortitle{
    display: flex;
    justify-content: space-around;
    align-items: center;
}
@media (min-width: 768px) {
    .liquortitle{
        justify-content: space-evenly;
        padding: 0 15rem;
    }
}
.liquortitle .active{
    color: rgb(234, 213, 73);
    font-size: 3.5rem;
    text-align: center;
}

.liquortitle span{
    color: #fff;
    font-family: 'Mufan', sans-serif;
    font-size: 2.5rem;     
    text-shadow: 1px 1px 2px black;
    cursor: pointer;
}


.blur{
    margin: 5px auto;
    width: 95vw;
    min-height: 300px;
    border-radius: 30px 30px 10px 10px;
    color: #faebd7;
    overflow: auto;
    backdrop-filter: blur(3.5px);
    -webkit-backdrop-filter: blur(3.5px);
}
@media (min-width: 768px) {
    .blur{
        width: 70vw;
    }
}

table *{
    padding: 0;
    margin: 0;
    overflow: hidden;
}

table tr{
    height: 50px;
}

table tr td{
    padding: 5px

}

table tr td:nth-child(2){
    text-align: right;
    height: 50px;
}
table tr td:nth-child(3){
    text-align: center;
    height: 50px;
}

table tr td pre{
    color: rgb(255, 255, 22);
    text-shadow: 3px 3px 5px black;
    font-size: 0.85rem;
    font-family: 'Eagle Lake', sans-serif;
}
@media (min-width: 768px) {
    table tr td pre{
        font-size: 2rem;
    }
}

table td.crossed{
   background-image: linear-gradient(to bottom right,  transparent calc(50% - 1px), rgb(179, 179, 179), transparent calc(50% + 1px)); 
   background-size: 11rem;
   background-repeat: no-repeat;
   background-position-y: -10px;
}

table td.crossed pre{
    font-family: 'Courier New', Courier, monospace;
}

.linehigh{
    line-height: 35px;
}

/* @media (max-width: 768px){
    .modal-content{
        
    }
} */

.itemModelPic{
    width: 100%;
}

.modalLine{
    margin: 0.2rem 1rem;
    display: block;
    background-color: rgba(0,0,0,0.2);
    width: 2px;
}

.red{
    background:red ;
    height: 20px;
}
.blue{
    background: blue;
    height: 20px;
}



/* 切換開關 */
.langBox_page{
    position: absolute;
    top: 2rem;
    right: 2rem;
    z-index: 999;
    margin-bottom: 10px;
}

.checkbox_page {
	opacity: 0;
	position: absolute;
}

.langLabel {
	background-color: #111;
	border-radius: 50px;
	cursor: pointer;
	display: flex;
	align-items: center;
	justify-content: space-between;
	padding: 5px;
	position: relative;
	height: 26px;
	width: 50px;
	transform: scale(1.5);
}

.langLabel .ball {
	background-color: #fff;
	border-radius: 50%;
	position: absolute;
	top: 2px;
	left: 2px;
	height: 22px;
	width: 22px;
	transform: translateX(0px);
	transition: transform 0.2s linear;
}

.checkbox:checked + .langLabel .ball {
	transform: translateX(24px);
}

.flag{
    width: 40%;
}
/* 切換開關結束 */
