@import url('//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.css');

@font-face {
    font-family: clipneon;
    src: url(https://s3-us-west-2.amazonaws.com/s.cdpn.io/707108/clip.ttf);
}

.body {
    font-size: 18px;
    height: 100vh;
    width: 100vw;
    font-family: "Yellowtail", sans-serif;
    background-color: #010a01;
    background-image: url(../img/brick.jpg);
    background-repeat: no-repeat;
    background-size: 85rem;
    background-position-x: 46%;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
}

.title{
    position: relative;
    /* top: 5rem; */
    padding: 0 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.centered {
    position: relative;
    left: 50%;
    top: 42%;
    transform: translate(-50%, -50%);
}

.neon-effect {
    color: #fff;
    letter-spacing: 2px;
    font-family: clipneon;
    font-weight: 900;
    font-size: 4rem;
}

.neon-effect:nth-of-type(1) {
    text-shadow:
        0 0 5px rgba(67, 232, 216, 1),
        0 0 10px rgba(67, 232, 216, 1),
        0 0 20px rgba(67, 232, 216, 1),
        0 0 40px rgba(67, 232, 216, 1);
    animation: neon-shine 2s linear infinite;

}

.neon-effect:nth-of-type(2) {
    text-shadow:
        0 0 5px rgba(255, 65, 65, 1),
        0 0 10px rgba(255, 65, 65, 1),
        0 0 20px rgba(255, 65, 65, 1),
        0 0 40px rgba(255, 65, 65, 1);
    animation: neon-shine 2s linear infinite;
}

@keyframes neon-shine {
    0% {
        opacity: 1;
    }

    10% {
        opacity: 0.7;
    }

    20% {
        opacity: 0.5;
    }

    30% {
        opacity: 0.9;
    }

    50% {
        opacity: 1;
    }

    70% {
        opacity: 0.7;
    }

    90% {
        opacity: 0.8;
    }

    100% {
        color: #232323;
    }
}

/* 按鈕 */
:root {
    --clr-neon: hsl(317 100% 54%);
    --clr-bg: hsl(323 21% 16%);
}

.neon-button {
    font-size: 3rem;
    font-family: clipneon;
    display: block;
    width: 14rem;
    margin: 0 auto;
    cursor: pointer;
    text-decoration: none;
    color: var(--clr-neon);
    border: var(--clr-neon) 0.125em solid;
    padding: 0.25em 1em;
    border-radius: 0.25em;
    text-shadow: 0 0 0.125em hsl(0 0% 100% / 0.3), 0 0 0.45em currentColor;
    box-shadow: inset 0 0 0.5em 0 var(--clr-neon), 0 0 0.5em 0 var(--clr-neon);
    /* position: relative; */
    /* top: -5rem; */
}

.neon-button:hover{
    color: var(--clr-neon);
    text-decoration: none;
}

/* .neon-button::before {
    pointer-events: none;
    content: "";
    position: absolute;
    background: var(--clr-neon);
    top: 120%;
    left: 0;
    width: 100%;
    height: 100%;

    transform: perspective(1em) rotateX(40deg) scale(1, 0.35);
    filter: blur(1em);
    opacity: 0.7;
}

.neon-button::after {
    content: "";
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    box-shadow: 0 0 2em 0.5em var(--clr-neon);
    opacity: 0;
    background-color: var(--clr-neon);
    z-index: -1;
    transition: opacity 100ms linear;
}

.neon-button:hover,
.neon-button:focus {
    color: var(--clr-bg);
    text-shadow: none;
}

.neon-button:hover::before,
.neon-button:focus::before {
    opacity: 1;
}

.neon-button:hover::after,
.neon-button:focus::after {
    opacity: 1;
} */